body {
  background-color: plum;
  background-image: url(sparkels.jpeg);
}

.btn {
  color: blanchedalmond;
  display: flex;
  justify-content: space-around;
}

.text {
  background-color: black;
  color: plum;
  align-items: center;
  padding: 20px;
}

.everything {
  text-align: center;
}
h1,h2,h3 {
 color: plum;
}